<?xml version="1.0"?>
<config>
    <modules>
        <MageFM_Correios>
            <version>1.1.1</version>
        </MageFM_Correios>
    </modules>
    <global>
        <blocks>
            <magefm_correios>
                <class>MageFM_Correios_Block</class>
            </magefm_correios>
        </blocks>
        <helpers>
            <magefm_correios>
                <class>MageFM_Correios_Helper</class>
            </magefm_correios>
        </helpers>
        <models>
            <magefm_correios>
                <class>MageFM_Correios_Model</class>
                <resourceModel>magefm_correios_resource</resourceModel>
            </magefm_correios>
            <magefm_correios_resource>
                <class>MageFM_Correios_Model_Resource</class>
                <entities>
                    <item>
                        <table>magefm_correios_item</table>
                    </item>
                    <range>
                        <table>magefm_correios_range</table>
                    </range>
                </entities>
            </magefm_correios_resource>
        </models>
        <resources>
            <magefm_correios_setup>
                <setup>
                    <module>MageFM_Correios</module>
                    <class>Mage_Eav_Model_Entity_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </magefm_correios_setup>
            <magefm_correios_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </magefm_correios_write>
            <magefm_correios_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </magefm_correios_read>
        </resources>
        <fieldsets>
            <sales_convert_quote_item>
                <product_width>
                    <to_order_item>*</to_order_item>
                </product_width>
                <product_length>
                    <to_order_item>*</to_order_item>
                </product_length>
                <product_height>
                    <to_order_item>*</to_order_item>
                </product_height>
            </sales_convert_quote_item>
            <sales_convert_order_item>
                <product_width>
                    <to_quote_item>*</to_quote_item>
                </product_width>
                <product_length>
                    <to_quote_item>*</to_quote_item>
                </product_length>
                <product_height>
                    <to_quote_item>*</to_quote_item>
                </product_height>
            </sales_convert_order_item>
        </fieldsets>
        <sales>
            <quote>
                <item>
                    <product_attributes>
                        <width />
                        <length />
                        <height />
                    </product_attributes>
                </item>
            </quote>
        </sales>
    </global>
    <frontend>
        <events>
            <sales_quote_item_set_product>
                <observers>
                    <magefm_correios>
                        <class>magefm_correios/observer</class>
                        <method>salesQuoteItemSetProduct</method>
                    </magefm_correios>
                </observers>
            </sales_quote_item_set_product>
        </events>
        <translate>
            <modules>
                <MageFM_Correios>
                    <files>
                        <default>MageFM_Correios.csv</default>
                    </files>
                </MageFM_Correios>
            </modules>
        </translate>
    </frontend>
    <adminhtml>
        <layout>
            <updates>
                <magefm_correios>
                    <file>magefm_correios.xml</file>
                </magefm_correios>
            </updates>
        </layout>
        <translate>
            <modules>
                <MageFM_Correios>
                    <files>
                        <default>MageFM_Correios.csv</default>
                    </files>
                </MageFM_Correios>
            </modules>
        </translate>
    </adminhtml>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <MageFM_Correios before="Mage_Adminhtml">MageFM_Correios_Adminhtml</MageFM_Correios>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <default>
        <carriers>
            <magefm_correios>
                <sallowspecific>1</sallowspecific>
                <specificcountry>BR</specificcountry>
                <model>magefm_correios/method</model>
                <active>0</active>
                <title>Correios</title>
                <timeout_days>30</timeout_days>
                <default_width>11</default_width>
                <default_length>16</default_length>
                <default_height>2</default_height>
                <webservice_timeout>4</webservice_timeout>
            </magefm_correios>
        </carriers>
    </default>
</config>
